@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Permanent+Marker&family=Ubuntu&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Ubuntu', sans-serif; */

* {
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    color: #162342;
    font-size: 3em;
}

/* ----------------------NAV-BAR---------------------- */

nav {
    background-color: #162342;
    position: -webkit-sticky;
    position: sticky;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
    top: 0;
    z-index: 1;
    display: flex;
}

nav div {
    font-size: 1em;
    color: #fff;
    width: 40%;
    margin: 0.5em;
}

nav div p {
    color: #6699CC;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-radius: 0.5em;
    margin-left: -0.2em;
    width: 11em;
}

nav div p span {
    color: #92FB92;
}

nav ul {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style-type: none;
    width: 60%;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

nav li {
    display: flex;
    align-items: center;
}

nav li:hover {
    border-bottom: solid;
    margin-bottom: -0.2em;
    border-width: 0.2em;
    color: #6699CC;
    height: 100%;
}

nav li:hover a {
    color: #6699CC;
}

/* ----------------------OVERLAY---------------------- */

.overlay {
    position: relative;
    display: flex;
    justify-content: center;
}

.overlay img {
    vertical-align: middle;
    transition: transform .4s ease-in-out;
    width: 100%;
}

.overlay .hoverImg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background-color: #16234280;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
/*     cursor: pointer;
    transform: scale(0.94); */
    width: 100%;
}
.overlay:hover .hoverImg {
    opacity: 1;
}

/* .overlay:hover img {
    cursor: pointer;
    transform: scale(0.94);
} */

/* ----------------------realizations---------------------- */

#realizations {
    display: grid;
    grid-template-columns: 16fr 2fr 18fr;
    grid-template-areas:
        "realizationsTitle realizationsTitle realizationsTitle"
        "realizations4 realizations4 realizations8"
        "realizations4 realizations4 realizations2"
        "realizations6 realizations6 realizations2"
        "realizations3 realizations3 realizations3"
        "realizations7 realizations5 realizations5"
        "realizations7 realizations1 realizations1";
}

#realizations>div {
    background-color: #fff;
}

#realizationsTitle {
    grid-area: realizationsTitle;
}

#realizations1 {
    grid-area: realizations1;
}

#realizations2 {
    grid-area: realizations2;
}

#realizations3 {
    grid-area: realizations3;
}

#realizations4 {
    grid-area: realizations4;
}

#realizations5 {
    grid-area: realizations5;
}

#realizations6 {
    grid-area: realizations6;
}

#realizations7 {
    grid-area: realizations7;
}

#realizations8 {
    grid-area: realizations8;
}

/* ----------------------À PROPOS---------------------- */

/* ----------------------CONTACT---------------------- */

#contact {
    width: 100%;
    text-align: center;
}

input[type=text],
textarea,
input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 1.5em;
}

label {
    margin-right: 0px;
    margin-left: 0px;
    align-self: flex-start;
    font-size: 2em;
}

input[type=submit] {
    background-color: #fff;
    color: #162342;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
}

input[type=submit]:hover {
    background-color: #fff;
    color: #fff;
}

form {
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

textarea {
    height: 8em;
}

/* ----------------------RETOUR EN HAUT---------------------- */

#scrollToTop {
    position: fixed;
    width: 5em;
    height: 5em;
    bottom: 3em;
    right: 2em;
}

#scrollToTop a {
    font-size: 5em;
    opacity: 0.80;
    color: #fff;
}

#scrollToTop:hover a {
    opacity: 1;
    -webkit-filter: drop-shadow(0px 0px 10px #fff);
    filter: drop-shadow(0px 0px 10px #fff);

}

/* ----------------------MENU DÉROULANT---------------------- */

@media screen and (min-width: 680px) {
    .icon {
        display: none;
    }
}

@media screen and (max-width: 680px) {

    .menu li:not(.icon) {
        display: none;
    }

    .menu .icon {
        position: relative;
    }

    .menu .icon a i {
        display: flex;
        font-size: 2em;
        color: #fff;
        padding: 0.25em;
    }

    .menu.open li:not(.icon) {
        display: flex;
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        width: 100%;
        margin-top: 0.2em;
    }

    .menu.open li:not(.icon) a {
        display: flex;
        padding: 0.25em;
        font-size: 2em;
        border-bottom: none;
        color: #162342;
    }

    .menu.open {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        left: 0;
        right: 0;
        z-index: 2;
    }
    .menu.open .icon a i {
        display: flex;
        font-size: 2em;
        color: #6699CC;
        padding-top: 0.32em;
        padding-bottom: 0.28em;
    }

    .navBar {
        display: flex;
        flex-direction: row-reverse;
    }

    .navBar div {
        text-align: end;
        width: 50%;
    }

    .navBar div p {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .navBar ul {
        display: flex;
        justify-content: flex-start;
    }
    .navBar li:hover i {
        color: #6699CC;
    }
}